<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1572357176061-7c96fd2af22f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3735&q=80);">
  <<h1>VEGGIELITE</h1>
  <p>Convenient and seamless grocery shopping experience!</p>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for(@product) do |r| %>
        <%= r.error_notification %>
        <%= r.error_notification message: r.object.errors[:base].to_sentence if r.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= r.input :name %>
          <%= r.input :description %>
          <%= r.input :categories, collection: Product::CATEGORIES %>
          <%= r.input :price %>
          <%= r.input :photos, as: :file, input_html: { multiple: true } %>
        </div>

        <div class="form-actions">
          <%= r.button :submit, class: "btn btn-success" %>
          <%= link_to 'Back', root_path, class: "btn btn-secondary my-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
