<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1484980859177-5ac1249fda6f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1829&q=80);">
  <h1>VEGGIELITE</h1>
  <p>Convenient and seamless grocery shopping experience!</p>
    <div class="row justify-content-center">
        <h2> <%= link_to "Shop now", products_path, class: 'btn btn-warning btn-lg' %> </h2>
    </div>
</div>


<div class="container">

  <div class="navigation menu_items position-relative">
    <ul class="list-inline">
      <li class="gluten-free list-inline-item">
          <div>
            <%= link_to @products %>
            <i class="fas fa-cookie-bite"></i>
          </div>
        Gluten free
      </li>
      <li class="sugar-free list-inline-item">
          <div>
            <%= link_to @products %>
            <i class="fas fa-birthday-cake"></i>
          </div>
        Sugar free
      </li>
      <li class="dairy-free list-inline-item">
          <div>
            <%= link_to @products %>
            <i class="fas fa-cheese"></i>
          </div>
        Dairy free
      </li>
      <li class="vegan list-inline-item">
          <div>
            <%= link_to @products %>
            <i class="fas fa-seedling"></i>
          </div>
        Vegan
      </li>
      <li class="vegetarian list-inline-item">
          <div>
            <%= link_to @products %>
            <i class="fas fa-carrot"></i>
          </div>
        Vegetarian
      </li>
      <li class="pescatarian list-inline-item">
          <div>
            <%= link_to @products %>
            <i class="fas fa-fish"></i>
          </div>
        Pescatarian
      </li>
      <li class="organic list-inline-item">
          <div>
            <%= link_to @products %>
            <i class="fab fa-pagelines"></i>
          </div>
        Organic
      </li>
    </ul>
  </div>

</div>



  <%# <% @products.each do |product| %>
    <%# <%= link_to product do %>
      <%# <div class="navigation menu_items position relative"> %>
        <%# <i class="fas fa-cookie-bite"></i> %>
        <%# <%= product.category %>
      <%# </div> %>
    <%# <% end %>
  <%# <% end %>
