<div class="container position absolute">
  <div class="row">
    <div class="col">
      <div class="mproduct-card">
        <div class="cards">
          <% products.each do |product| %>
            <div class="card-trip position relative">
              <%= cl_image_tag product.photo.key %>
              <div class="card-trip-infos">
                <div>
                  <%= link_to product.name, product, class: 'nav-link' %>
                  <p> <strong>Supplier country:</strong> <%= product.supplier_country %> </p>
                  <p> <strong> Calories:</strong> <%= product.calories %> </p>
                  <p> <strong>Protein:</strong> <%= product.macros['protein'] %> </p>
                  <p> <strong>Fat:</strong> <%= product.macros['fat'] %> </p>
                  <p> <strong>Carbs:</strong> <%= product.macros['carbs'] %> </p>
                  <p> <strong>Shop:</strong> <%= product.shop.name %> </p>
                </div>
                <div class="d-flex justify-content-center p-3">
                  <h2 class="card-trip-pricing mx-3"> <%= humanized_money_with_symbol(product.price) %> </h2>
                    <%= render partial: 'cart_info', locals: { product_id: product.id, cart: cart }%>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
