<div class="container position absolute">
  <div class="row">
    <div class="col">
      <div class="movie-card" data-controller="edit-movie" data-edit-movie-target="card">
        <div class="cards">
          <% @products.each do |product| %>
            <div class="card-trip position relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1493770348161-369560ae357d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2370&q=80); mx-3">
              <div class="card-trip-infos">
                <div>
                  <%= link_to product.name, product, class: 'nav-link' %>
                  <%= product.supplier_country %>
                  <%= product.calories %>
                  <%= product.macros %>
                  <%= product.shop.name %>
                </div>
                <div class="d-flex justify-content-center p-3">
                  <h2 class="card-trip-pricing mx-3">AED <%= product.price %></h2>
                  <%= link_to 'Add to cart', product, class: 'btn btn-warning' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
