<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517260739337-6799d239ce83?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2370&q=80);">
  <h1>VEGGIELITE</h1>
  <p>A convenient and seamless grocery shopping experience!</p>
</div>

<div class="container position absolute">
  <div class="row">
    <div class="col">
      <div data-controller="search-products">
        <%= form_with url: products_path, method: :get, html: { class:
            'mb-4', data: { search_products_target: 'form' } } do |f| %>
          <%= f.text_field :query,
                          class: "form-control",
                          placeholder: 'Search',
                          value: params[:query],
                          data: {
                            search_products_target: 'input',
                            action: 'keyup->search-products#search'
                            } %>
        <% end %>
        <div class="navigation menu_items d-flex justify-content-center">
          <ul class="list-inline">
            <li class="gluten-free list-inline-item">
              <div>
                <%= link_to products_path, class:'nav-link' do %>
                  <i class="fas fa-utensils"></i>
                <% end %>
              </div>
              All Products
            </li>
            <li class="gluten-free list-inline-item">
              <div>
                <%= link_to products_path(category: "Gluten free"), class:'nav-link' do %>
                  <i class="fas fa-cookie-bite"></i>
                <% end %>
              </div>
              Gluten free
            </li>
            <li class="sugar-free list-inline-item">
              <div>
                <%= link_to products_path(category: "Sugar free"),class:'nav-link' do %>
                <i class="fas fa-birthday-cake"></i>
                <% end %>
              </div>
              Sugar free
            </li>
            <li class="dairy-free list-inline-item">
              <div>
                <%= link_to products_path(category: "Dairy free"),class:'nav-link' do %>
                <i class="fas fa-ice-cream"></i>
                <% end %>
              </div>
              Dairy free
            </li>
            <li class="vegan list-inline-item">
              <div>
                <%= link_to products_path(category: "Vegan"),class:'nav-link' do %>
                <i class="fas fa-seedling"></i>
                <% end %>
              </div>
              Vegan
            </li>
            <li class="vegetarian list-inline-item">
              <div>
                <%= link_to products_path(category: "Vegetarian"),class:'nav-link' do %>
                <i class="fas fa-carrot"></i>
                <% end %>
              </div>
              Vegetarian
            </li>
            <li class="pescetarian list-inline-item">
              <div>
                <%= link_to products_path(category: "Pescetarian"),class:'nav-link' do %>
                <i class="fas fa-fish"></i>
                <% end %>
              </div>
              Pescetarian
            </li>
            <li class="organic list-inline-item">
              <div>
                <%= link_to products_path(category: "Organic"),class:'nav-link' do %>
                <i class="fab fa-pagelines"></i>
                <% end %>
              </div>
              Organic
            </li>
          </ul>
        </div>

        <%= render partial: 'list', locals: { products: @products, cart: @cart } %>

      </div>
    </div>
  </div>
</div>
