<div class="products-banner" style="background-image: linear-gradient(hsla(132, 29%, 50%, 0.5),hsla(132, 29%, 50%, 0.8)), url(https://images.unsplash.com/photo-1493770348161-369560ae357d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2370&q=80);">
  <div class="home-container">
    <h1><%= @product.name %></h1>
  </div>
</div>
<div class="container">
  <div class="btn yellow-back mt-4 m-2" style="width: 49px; height: 49px; left: 122px; top: 301px;">
        <i class="fas fa-chevron-left m-2"><% link_to products_path %></i>
  </div>
    <div class="card-body">
      <div class="row">
        <div class="col-7">
            <h5 class="d-flex p-2 w-100 bd-highlight">
                <% @product.categories.each do |category| %>
                <button type="button" class="btn-home m-1" style="display-flex; justify-content: space-between; width: 139px; height: 63px; left: 120px; top: 409px;"> <%= category %> <span class="badge"></span></button>
                <% end %>
            </h5>

            </div>
              <div class="card-trip.position.relative" style="padding: 10rem; background-image: url(<%= cl_image_path @product.photo.key %>);">
            </div>
                <%= @product.description %>
                          <div class="col-4">
            <%= render partial: 'cart_info', locals: { product_id: @product.id, cart: @cart }%>
          </div>
            </h4>
            <div>
              <h5 class="mt-5"><strong>Country:</strong> <%= @product.supplier_country %></h5>
              <h5><strong>Shop:</strong> <%= @product.shop %></h5>
            </div>
            <div style="display:flex; flex-direction:column; align-items: end;">
              <h3 class="align-items-right">Price: <%= humanized_money_with_symbol(@product.price) %></h3>
            </div>
          </div>
        </div>
        <div class="col-5">
          <h4 class="card-text mt-5">
              <div class="card-breakdown mt-5" style= "display:flex; flex-direction:column; align-items: end;">
                <h5>
                  <strong>Calories:</strong> <%= @product.calories %>
                  </p>
                  <p class="">
                  <strong>Protein:</strong> <%= @product.macros['protein'] %>
                  </p>
                  <p class="">
                  <strong>Carbs:</strong> <%= @product.macros['carbs'] %>
                  </p>
                  <p class="">
                  <strong>Fat:</strong> <%= @product.macros['fat'] %>
                  </p>
            </h4>
        </div>
      </div>
    </div>
</div>
